<div class="mb-4 d-flex justify-content-center">
  <div class="btn-group" name="container" role="group">
    <input
      type="radio"
      class="btn btn-primary"
      [(ngModel)]="container"
      value="Unread"
      class="btn-check"
      id="btnradio1"
      (ngModelChange)="loadMessages()"
    />
    <label class="btn btn-outline-primary" for="btnradio1"
      ><i class="fa fa-envelope"></i> Unread</label
    >

    <input
      type="radio"
      class="btn btn-primary"
      [(ngModel)]="container"
      value="Inbox"
      id="btnradio2"
      class="btn-check"
      (ngModelChange)="loadMessages()"
    />
    <label class="btn btn-outline-primary" for="btnradio2"
      ><i class="fa fa-envelope-open"></i> Inbox</label
    >

    <input
      type="radio"
      class="btn btn-primary"
      [(ngModel)]="container"
      value="Outbox"
      id="btnradio3"
      class="btn-check"
      (ngModelChange)="loadMessages()"
    />
    <label class="btn btn-outline-primary" for="btnradio3"
      ><i class="fa fa-paper-plane"></i> Sent</label
    >
  </div>
</div>

<div class="container" *ngIf="messages?.length == 0">
  <h1>No new messages</h1>
</div>

<div *ngIf="messages">
  <div class="container" *ngIf="messages.length > 0 && this.loading == false">
      <h2>{{ container }}</h2>
      <table class="table table-striped" style="cursor: pointer">
        <thead>
          <tr>
            <th>From/To</th>
            <th>Date Sent</th>
            <th>Content</th>
            <th></th>
          </tr>
        </thead>
        <tbody 
        [hidden]="loading"
        >
          <tr
            *ngFor="let message of messages"
            routerLink="{{
              container == 'Outbox'
                ? '/members/' + message.recipientUsername
                : '/members/' + message.senderUsername
            }}"
            [queryParams]="{tab: 4}"
            >
            <td>
              <img
                *ngIf="container != 'Outbox'"
                class="img-circle rounded-circle me-2"
                src="{{ message.senderPhotoUrl }}"
                alt="{{ message.senderUsername }}"
                width="50"
                height="50"
              />
              <img
                *ngIf="container == 'Outbox'"
                class="img-circle rounded-circle me-2"
                src="{{ message.recipientPhotoUrl }}"
                alt="{{ message.recipientUsername }}"
                width="50"
                height="50"
              />
            </td>
            <td>{{ message.dateSent | timeago }}</td>
            <td>{{ message.content }}</td>
            <td><button class="btn btn-danger" type="submit" (click)="$event.stopPropagation()" (click)="delete(message.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <ngb-pagination
          ngDefaultControl
          *ngIf="pagination"
          (pageChange)="pageChanged($event)"
          [collectionSize]="pagination.totalItems"
          [pageSize]="pagination.itemsPerPage"
          [(page)]="pagination.currentPage"
          [maxSize]="10"
          [(ngModel)]="pagination.currentPage"
        ></ngb-pagination>
      </div>
  </div>
</div>
