<div class="container mt-5">
  <div
    style="text-align: center"
    *ngIf="!registerMode && (accountService.currentUser$ | async)?.username == undefined"
  >
    <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">
      Register
    </button>
  </div>

  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mb-3" *ngFor="let post of posts">

        <img
          src="{{post.imgUrl}}"
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title">Generic title</h4>
          <p class="card-text">{{post.prompt}}</p>
          <div class="card-subtitle text-muted small">
            <span>{{post.createdDate | timeago}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
